- photolink = "/photography.html"
- index ="/"
- about ="/about.html"

- threedee ="/threedee.html"
#top
nav#nav2
    
    input#menu-input(name="menu-input" type="checkbox")
    label#menu-label(for="menu-input")



 
    #top-nav 
            

        a#nav-about.nav-item(href="about.html")
            .title Ali 
            .caption About Me
        
        .space
        #nav-filters
            a(href="/#")#unfilter Unfilter
            //- a#back-home(href=home+"") ‹ Back Home  
            
            a(href=home+"")#back-home Back Home


            a(href=home+"#ux").nav-item#ux_ 
                .title UX
                .caption Design + Research

            a(href=home+"#graphic").nav-item#graphic_ 
                .title Graphic
                .caption Print+Branding

            a(href=home+"#photo").nav-item#photo_ 
                .title Photo
                .caption Places &amp; Not Places

 
            a(href=home+"#threedee").nav-item#threedee_
                .title Threedee
                .caption Animations+VFX
        
            a(href=home+"other").nav-item#other_
                .title ++
                .caption other Cool Stuff
        
    //- input#menu-input(name="menu-input" type="checkbox")
    //- label#menu-label(for="menu-input")  