- photolink = "/photography.html"
- about ="/about.html"

- threedee ="/threedee.html"
#top
nav#nav2
    
    input#menu-input(name="menu-input" type="checkbox")
    label#menu-label(for="menu-input")
 


 
    #top-nav 
            

        a#nav-about.nav-item(href=home+hash)
            .title Ali 
            #unfilter.caption Unfilter
            //- a#back-home(href=home+"") ‹ Back Home  
            
            #back-home.caption Back Home
            //- .caption About Me 
        
        
        //- a(href=about).nav-item
        //-     .title About
        //-     .caption Design 
        //-     .caption + Research
        //- //- .space
        #nav-filters
 

            a(href=home+"#ux").nav-item#ux_ 
                .title UX
                .caption Design 
                .caption + Research

            a(href=home+"#graphic").nav-item#graphic_ 
                .title Graphic
                .caption Print + Digital
                .caption + Branding

            a(href=home+"#photo").nav-item#photo_ 
                .title Photo
                .caption Places 
                .caption &amp; Not Places

 
            a(href=home+"#threedee").nav-item#threedee_
                .title 3Dee
                .caption Art + VFX
                .caption + Animations
        
            a(href=home+"#other").nav-item#other_
                .title ++
                .caption other 
                .caption Cool Stuff

        
    //- input#menu-input(name="menu-input" type="checkbox")
    //- label#menu-label(for="menu-input")   