- photolink = "/photography.html"
- index ="/"
- about ="/about.html"

- threedee ="/threedee.html"
#top
nav#nav2
    
    input#menu-input(name="menu-input" type="checkbox")
    label#menu-label(for="menu-input")

    a(href=home+"")#mobile-home Back Home
    
    #top-nav
            

        a#nav-about.nav-item(href="about.html")
            .title Ali
            .caption About Me
        
        .space
        #nav-filters
            a#back-home(href=home+"") ‹ Back Home 
            a(href=home+"ux").nav-item 
                .title UX
                .caption Design + Research

            a(href=home+"photo").nav-item   
                .title Photo
                .caption Places &amp; Not Places


            a(href=home+"graphic").nav-item 
                .title Graphic
                .caption Print+Branding

            a(href=home+"threedee").nav-item 
                .title Threedee
                .caption Animations+VFX
        
            //- a(href=home+"other").nav-item 
                .title ++
                .caption other Cool Stuff
        
    //- input#menu-input(name="menu-input" type="checkbox")
    //- label#menu-label(for="menu-input") 