mixin grid-item(title,link,desc,image,cl)
    //- - var link = "arcteryx" + end    
    a(class=cl href=link).grid-item
        .project-img
            img(data-src=image, src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E", alt="").lazy
        .proj-title
            h1=title
            .genre=desc
         
doctype html 
html(lang='en')
    head
        include ./includes/head1.pug
        title Aliasger Rasheed's Portfolio
    body#new-index.new-index.index-proj
        - var home = ""
        - var end = ".html"
        - var hash = "#" 
        header 
            include ./includes/nav2.pug   
        main#grain
            section#intro 
                //- img#intro-cover(src="imgs/projects/index-cover.jpg", alt="", )
                
                .index-slide#intro-cover
                    img(src="imgs/projects/index-cover.jpg")   
                    img(src="imgs/projects/natural.jpg")   
                    img(src="imgs/projects/honest.jpg")   
                    img(src="imgs/projects/arcy2.jpg")   
                    izmg(src="imgs/projects/threads-cover.jpg")   
                    img(src="imgs/projects/spec.jpg")   
                h1 Aliasger Rasheed. 
                
                //- .`copy
                h4.desc 
                    |   My process of working across disciplines lets me develop lasting, impactful, cherished projects that are a  cross product of aesthetics, reason and radical empathy
                
                h4.loc
                    div Designin @                         
                        a(href="https://course.studio").in-txt Course Studio

                    div Looking for Fall 2022 stuff to do
                
                h4.contact 
                    div 
                        a(href="mailto:aliasgerrasheed@outlook.com").in-txt aliasgerrasheed@outlook.com
                    div 
                        a(href="assets/Aliasger_Rasheed_Resume.pdf" target="_blank").in-txt Résumé

                h4#nav-theme-toggle  
                    input(id="adjust", name="modeToggle", type="checkbox") 
                    label#modeLbl(class="" for="adjust").in-txt

                    //- div Remote 
                h4.links 
                    a(href="https://www.linkedin.com/in/aliasger-rasheed/" target="_blank").in-txt Linkedin
                    a(href="https://www.instagram.com/allegoraphy/" target="_blank").in-txt Instagram 
                    a(href="https://github.com/ali-rasheed/" target="_blank").in-txt Github
                    a(href="https://www.figma.com/@the_maker/" target="_blank").in-txt Figma
                //- #nav-theme-toggle  
                    input(id="adjust", name="modeToggle", type="checkbox") 
                    label#modeLbl(for="adjust")       

                //- input(type="text" size="3")#mx
            //- section#expertise 
                h4 Services
                h2 expertise-list
                    span.col-exp 
                        em Experience
                        |  Design, 
                    span.col-web 
                        em Web
                        |  Design &amp; Dev, 
                    //- span.col-web 
                        em Industrial 
                        |Design, 
                        
                    span.col-graphic 
                    
                        em  Graphic 
                        |&amp; 
                        em  Visual  
                        | Design,
                        |  
                    span.col-photo
                        //- |Photography
                        span
                            |Photography
                        //- .shake-little.shake-constant
                        |,
                        |
                    span.col-3D 
                        em 3D
                        |  Design  &nbsp;

   
            section#projects
                h4 Projects

            section#index-filter
                //- -var tiltp="8" 
                //- -var tilts="-8"

                +grid-item("Arc'teryx","arcteryx.html","service design for product care","imgs/arcy/cover.jpg","item50 ux threedee")

                +grid-item("Graphic Archive.","gd.html",
                "Collection of Curated Graphic/Visual Design","imgs/projects/honest.jpg"," item33 graphic")
                +grid-item("Natural Landscapes"
                ,"photo-natural.html","Gallery A","imgs/projects/natural2.jpg","item50 photo")
 
                +grid-item("Theatre Populaire Romand"
                ,"tpr.html","graphic & interaction design ","imgs/tpr/cover2.jpg","item50 ux graphic")



                +grid-item("UNESCO Lodestar","unesco.html","ux designing education through World Heritage","imgs/projects/unesco.jpg","item50 ux")

                +grid-item("Anthropogenic Landscapes"
                ,"photo-anthro.html","Gallery B","imgs/projects/anthro.jpg","photo item33")
                +grid-item("3D Archive.","threedee.html",
                "Curated Collection of Work","imgs/projects/threedee.jpg"," item33 threedee")

                +grid-item("Still Life"
                ,"photo-still.html","Gallery E","imgs/projects/still.jpg","photo item25")

 
                +grid-item("People"
                ,"photo-people.html","Gallery C","imgs/projects/people.jpg","photo item33")


                +grid-item("Architecture"
                ,"photo-arch.html","Gallery D","imgs/projects/arch.jpg","photo item25")

                +grid-item("Threads To Heaven","threadstoheaven.html","speculative design exploring the choice of a 'good death'","imgs/projects/spec.jpg","other threedee item33")

                +grid-item("Gakko 2019","gakko.html","a summer of type, graphic design & new media","imgs/projects/gakko.jpg","graphic other item33")

                
                //- - var link = "javascript:;"       
                //- a(href=link).grid-item.in-progress
                //-     .proj-title
                //-         h1 OpenIDEO Bagsket 
                //-             .genre smart bag UX/UI & industrial design submission 
                //-     .project-img
                //-         img(src="imgs/projects/bagsket"+".jpg").maskable 
                    
                    
                //- - var link = "charette"    + end       
                //- section.grid-item
                //-   a(href=link).project-img
                //-     img(src="imgs/charette/hearth-underlit"+".jpg", alt=" Hearth Model").maskable
                //-   a(href=link).proj-title
                //-     h1 Hearth 
                //-   ul.genre
                //-     li Photography
                //-     li 3D Modelling
                //-     li Model Making

                //- - var link = "headset" + end
 
                //- section.grid-item#headset 
                //-   a(href=link).project-img
                //-     img(src="imgs/projects/headset"+".jpg", alt=" Kamishibai Headset title").maskable.saturate
                //-   a(href=link).proj-title
                //-     h1 Kamishibai
                //-   ul.genre 
                //-     li A VR headset designed for experiencing 
                //-     li traditional Japanese Kabuki Theatre
                    //- li Industrial Design
                    //- li 3D Modelling

        footer
            include ./includes/footer1.pug 
            script
                include ./pug-js/index.js 
